<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="center">I am Batman!</h1>
    </div>
  </div>   
</div>
<script>
  $.backstretch("<%= asset_path 'bgbatman.jpg' %>");
</script>
