<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="center">This looks like a job for Superman!</h1>
    </div>
    <a href="<%= pages_batman_vs_superman_path %>">
      <button type="button" class="btn btn-info btn-lg">Volver al Inicio</button>
    </a>
  </div>   
</div>
<script>
  $.backstretch("<%= asset_path 'bgsuperman.jpg' %>");
</script>
